.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  min-height: 250px;
  width: 800px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }
  
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }
  
  .u-section-1 .u-group-1 {
    width: 540px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
  
  .u-section-1 .u-group-1 {
    width: 340px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 10px;
  }
}
